@font-face { font-family: roboto-Serif; 
    src: url('.//Roboto_Serif//RobotoSerif-Italic-VariableFont_GRAD,opsz,wdth,wght.ttf');
 } 

.back {
    background: black; 
    display: flex;
    flex-direction: column;
    align-items: center;
}


.Notes { 
    color:rgb(229, 233, 236);
    
}

.Notes-inside {
    color: black;
}
.noteholder {
    width: 220px;
    margin: auto;
    margin-top: 25px;
    text-align: center;
}

.noteholder-inside {
    width: 350px;
    margin: auto;
    margin-top: 45px;
    text-align: center;
    margin-bottom: 40px;
}

.container {
    height: 300px;
    width: 600px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 25px;
    background-color: rgb(245, 243, 132);
}
.counter {
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.squareNumber{
    background-color:azure;
    margin-left: 15px;
    border-radius: 10px;
    width: 70px;
    height: 50px;
    display: flex;
    flex-direction: column;
    
    align-items: center;
    justify-content: center;
}

span {
    font-family: 'Roboto-Serif', sans-serif;
    text-align: center;
}

.numbers {
    font-size: larger;
    margin-bottom: 3px;;
}
